absl-py==0.7.1
amqp==2.4.2
astor==0.7.1
atomicwrites==1.3.0
attrs==18.2.0
billiard==3.5.0.5
bson==0.5.8
cachetools==3.1.0
celery==4.2.2
certifi==2018.11.29
chardet==3.0.4
Click==7.0
clickclick==1.2.2
connexion==2.2.0
Flask==1.0.2
Flask-Cors==3.0.7
flex==6.14.0
gast==0.2.2
google-api-core==1.8.2
google-auth==1.6.3
google-cloud-core==0.29.1
google-cloud-storage==1.14.0
google-resumable-media==0.3.2
googleapis-common-protos==1.5.9
grpcio==1.19.0
h5py==2.9.0
idna==2.8
inflection==0.3.1
itsdangerous==1.1.0
Jinja2==2.10
jsonpointer==2.0
jsonschema==2.6.0
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kombu==4.3.0
Markdown==3.0.1
MarkupSafe==1.1.0
mock==2.0.0
more-itertools==6.0.0
numpy==1.16.2
openapi-spec-validator==0.2.4
opencv-python==4.0.0.21
pbr==5.1.3
Pillow==5.4.1
pluggy==0.8.1
protobuf==3.7.0
py==1.7.0
pyasn1==0.4.5
pyasn1-modules==0.2.4
pymongo==3.7.2
pytest==4.3.0
pytest-html==1.20.0
pytest-metadata==1.8.0
python-dateutil==2.8.0
pytz==2018.9
PyYAML==3.13
redis==2.10.6
requests==2.21.0
rfc3987==1.3.8
rsa==4.0
scipy==1.2.1
six==1.12.0
strict-rfc3339==0.7
swagger-spec-validator==2.4.3
swagger-ui-bundle==0.0.3
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
urllib3==1.24.1
validate-email==1.3
vine==1.3.0
Werkzeug==0.14.1
